{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<div class="container-fluid">

    <h2>All Position</h2>
    <h3>username: {{ session.get("username") }}</h3>
    <h3>cash available: {{ balance|usd}}</h3>
    <table class="table table-striped table-hover text-center">
        <thead>
            <tr>
                <th> ticker</th>
                <th> position quantity </th>
                <th> average price </th>
                <th> current price </th>
                <th> market value </th>
            </tr>
        </thead>
        <tbody>
            {% for position in portfolio %}
            <tr>
                <td>{{ position.ticker }}</td>
                <td>{{ position.position_quantity }}</td>
                <td>{{ position.average_price|usd}}</td>
                <td>{{ position.current_price|usd}}</td>
                <td>{{ position.market_value|usd}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Account summary: {{ account_summary|usd}}</h4>
</div>
{% endblock %}