{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" required="true" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <p>Your passord must:</p>
            <p>be at last 8 char</p>
            <p>at last 1 digit</p>
            <p>1 special char</p>
            <input class="form-control mx-auto w-auto" required="true" id="password" name="password" placeholder="Password" type="password">
            <input class="form-control mx-auto w-auto" required="true" id="confirmation" name="confirmation" placeholder="Re-Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
